protocol=http # http or https
domain-a=localhost # domain-aaa.com
domain-a-background=bg-sky-50
domain-b=localhost # domain-bbb.com
domain-b-background=bg-green-100
domain-c=localhost # domain-ccc.com
domain-c-background=bg-red-100
port=8080 # port to listen on
