    <div class="container mx-auto py-8">
        <% if (title) { %>
            <header>
                <h1 class="text-3xl font-bold my-8 text-center text-slate-800"><%= title %></h1>
            </header>
        <% } %>
        <div class="border p-8 bg-white drop-shadow-[8px_8px_0_rgba(32,33,37,.1)] rounded-lg text-center w-[60rem] mx-auto max-w-full">