<%- include(commonPath + '/header.ejs') %>


<h1 class="text-3xl font-bold my-8 text-center text-slate-800">Embedded Video</h1>
<div class="border p-8 bg-white drop-shadow-[8px_8px_0_rgba(32,33,37,.1)] rounded-lg text-center">
    <p class="text-lg mb-4 text-center">Here is an embedded Third-Party video player. Check if you can play the video and if it shows up in your history in your logged-in account.</p>
    <div class="mt-8 flex justify-center">
        <iframe class="border border-8 rounded aspect-video" width="560" height="315" src="https://www.youtube.com/embed/aqz-KE-bpKQ?si=CuSLBTjNMf9NA1eg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    <p class="text-sm mt-8 text-center">
        Check <a href="https://github.com/GoogleChromeLabs/ps-analysis-tool/wiki/Example-analysis-scenarios#embedded-content" class="text-blue-600 hover:underline" target="_blank" rel="noopener">our documentation</a> to learn more about the Embedded Content and other scenarios.
    </p>
</div>

<%- include(commonPath + '/footer.ejs') %>
