<%- include(commonPath + '/header.ejs') %>
    <%- include(commonPath + '/internal-page/header.ejs') %>
        <style>
            .frame-overlay-header {
                background-color: #333;
                color: #fff;
                text-align: center;
                padding: 20px;
            }

            main {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 20px;
            }

            .banner {
                text-align: center;
                padding: 20px;
            }

            .banner h1 {
                font-size: 24px;
                margin-bottom: 20px;
            }

            .banner p {
                font-size: 14px;
                line-height: 1;
                font-style: italic;
            }

            .iframe-container {
                width: 48%;
                margin-bottom: 20px;
            }

            iframe {
                width: 100%;
                height: 300px;
                border: 1px solid #ccc;
            }

            .invisible-iframe {
                display: none;
            }
        </style>
        <div class="frame-overlay-header">
            <p>Where every view is neatly framed to perfection!</p>
        </div>
        <div class="banner">
            <p>In the digital realm, they reside,</p>
            <p>Iframes, portals, on screens they glide.</p>
            <p>They embed videos, maps, and more,</p>
            <p>In web pages, they gracefully soar.</p>
            <p>Yet sometimes hidden, in the depths they dwell,</p>
            <p>Invisible iframes, a secret to tell.</p>
        </div>
        <main>
            <div class="iframe-container">
                <h2>CATCH</h2>
                <iframe src="https://11ctch.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>AMDK</h2>
                <iframe src="https://admd.ink" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Alpharank API</h2>
                <iframe src="https://api.alpharank.io" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Bablosoft</h2>
                <iframe src="https://customfingerprints.bablosoft.com/" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Baidu</h2>
                <iframe src="https://dlswbr.baidu.com/" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Baidu</h2>
                <iframe src="https://edge.fullstory.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>CleanTalk FD</h2>
                <iframe src="https://fd.cleantalk.org" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Faraway Installation FHR</h2>
                <iframe src="https://fhr.farawayinstallation.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>FP CDN</h2>
                <iframe src="https://fpcdn.io" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>FP JS CDN</h2>
                <iframe src="https://fpjscdn.net" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>FP NPM CDN</h2>
                <iframe src="https://fpnpmcdn.net" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>GFL85 Tracker</h2>
                <iframe src="https://gfl85trk.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Wandz CDN (GS)</h2>
                <iframe src="https://gs.wandzcdn.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>CleanTalk Moderate</h2>
                <iframe src="https://moderate.cleantalk.org" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>OpenFP CDN</h2>
                <iframe src="https://openfpcdn.io" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Phoenix Widget</h2>
                <iframe src="https://phoenix-widget.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Transmit Security Web SDK</h2>
                <iframe src="https://platform-websdk.transmitsecurity.io" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>SSM Codes</h2>
                <iframe src="https://ssm.codes" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>ECAL Sync</h2>
                <iframe src="https://sync.ecal.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>ADCELL Tracking</h2>
                <iframe src="https://t.adcell.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Cometly Tracking</h2>
                <iframe src="https://t.cometlytrack.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>MarketingCloudFX Tracking</h2>
                <iframe src="https://t.marketingcloudfx.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Shift Digital Tagging</h2>
                <iframe src="https://tagging.shiftdigitalapps.io" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Mlytics Tags Assets</h2>
                <iframe src="https://tags-assets.mlytics.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>DXMDP Tags</h2>
                <iframe src="https://tags.dxmdp.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>The Hotels Network</h2>
                <iframe src="https://thehotelsnetwork.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>ONEF Track</h2>
                <iframe src="https://track.onef.pro" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Bytecon Server Tracking</h2>
                <iframe src="https://tracking.server.bytecon.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>ViaData</h2>
                <iframe src="https://viadata.store" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>Trusted Shops Widgets</h2>
                <iframe src="https://widgets.trustedshops.com" frameborder="0"></iframe>
            </div>
            <div class="iframe-container">
                <h2>ZATNOH</h2>
                <iframe src="https://zatnoh.com" frameborder="0"></iframe>
            </div>

        </main>
    <%- include(commonPath + '/internal-page/footer.ejs') %>
<%- include(commonPath + '/footer.ejs') %>
