<%- include(commonPath + '/header.ejs') %>
    
    <img src="/assets/imgs/hiking_ads.jpeg" alt="Hiking Boots" class="mx-auto w-96 h-96 mb-4" >
    <h2 class="text-center">Find the perfect hiking boots!</h2>
    <script>
        // Attempt to access the main site's data (will fail)
        console.log('Main site cookies are inaccessible:', document.cookie);  
    </script>
<%- include(commonPath + '/footer.ejs') %>
