<div class="flex justify-center">
    <p class="text-lg font-bold mb-4 text-center">To learn more about the CUJs, access<a href="https://github.com/GoogleChromeLabs/ps-analysis-tool/wiki/Example-analysis-scenarios" target="_blank" rel="noopener">Analysis Scenarios</a> page</p>
</div>