    <footer class="mt-auto text-center p-2 text-xs">
        <a href="https://github.com/GoogleChromeLabs/ps-analysis-tool/wiki" target="_blank" rel="noopener">Privacy Sandbox Analysis Tool Wiki's Page</a>
    </footer>
</body>
</html>
