<%- include(commonPath + '/header.ejs') %>

<div class="container mx-auto py-8">
    <h1 class="text-3xl font-bold mb-4 text-center">Privacy Sandbox</h1>
    <h2 class="text-3xl font-bold mb-4 text-center">Scenarios</h2>
    <div class="flex justify-center space-x-4 mt-4">
        <a href="/analytics"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            Analytics
        </a>
        <a href="/embedded-video"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            Embedded Video</a>
        <a href="/ecommerce"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            E-Commerce
        </a>
        <a href="/single-sign-on"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            Single Sign-On
        </a>
        <a href="/payment-gateway"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            Payment Gateway
        </a>
    </div>
    <h2 class="text-3xl font-bold mb-4 text-center mt-4">API Demos</h2>
    <div class="flex justify-center space-x-4 mt-4">
        <a href="/chips"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            CHIPS
        </a>
        <a href="/first-party-sets"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            🚧 First Party Sets
        </a>
        <a href="/privacy-state-tokens"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            🚧 Privacy State Tokens
        </a>
        <a href="/fedcm"
           class="block p-4 bg-white shadow rounded hover:bg-blue-500 hover:text-white transition duration-300">
            🚧 FedCM
        </a>
    </div>
</div>

<%- include(commonPath + '/footer.ejs') %>
