<%- include(commonPath + '/header.ejs') %>

<div class="container mx-auto py-8">
	<div class="flex justify-center">
        <a href="/"><img src="/assets/PS_Logo.svg" class="mx-auto w-24 h-24 mb-4" alt="Logo"></a>
    </div>
	<h1 class="text-3xl font-bold mb-4 text-center"><%= title %></h1>
	<p class="text-lg font-bold mb-4 text-center">Page still under construction.</p>
</div>

</body>
</html>

<%- include(commonPath + '/footer.ejs') %>
