<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <meta name="google-signin-client_id" content="<%= googleClientId %>">

    <link rel="stylesheet" href="/assets/styles/style.css">
    <script src="/assets/js/main.js"></script>
</head>
<body class="<%= backgroundColor %> flex flex-col min-h-screen">
    <header class="main-header last:fixed w-full bg-white z-50 shadow-md">
        <div class="container mx-auto flex items-center h-20 gap-4 p-4">
            <img src="/assets/imgs/PS_Logo.svg" class="w-14 h-14" alt="Logo">
            <a href="/">
                <h1 class="text-xl font-bold">PSAT Demos</h1>
            </a>
        </div>
    </header>
